
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #f5f5f7;
    color: #1d1d1f;
}

.appleLogo:hover{
    cursor: pointer;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo img {
    width: 40px;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #1d1d1f;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0071e3;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 2rem;
    background: linear-gradient(to bottom, #e6e6e9, #f5f5f7);
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.hero p {
    font-size: 1.2rem;
    color: #6e6e73;
    margin-bottom: 2rem;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
    background-color: #fff;
}

.feature {
    max-width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.feature h2{
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.featureIMG{
    background-color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.imageDisplays{
    width: 300px;
    height: 300px;
}

.imageDisplays2{
    width: 500px;
    height: 600px;
}

.introText{
    text-align: justify;
}

.bodyText{
    text-align: justify;
    width: 400px;
}



/* Responsive Design */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}